.button{
    height:5em ;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5 em;
    background-color: rgb(41, 158, 86);
    color:rgb(26, 9, 41);
    flex: 1;
    font-weight: bold;
    outline: 2px solid #070404;
    
}
.operator{
    background-color: rgb(169, 214, 43);
    color:#ffffff;
}

/* Styling the numeric button and operator buttonwhich are present on the calculator */